<div class="row">
    <div class="col-sm-12">
        <h4 class="pull-left page-title">New Backer</h4>
        <ol class="breadcrumb pull-right">
            <li><a href="/">Phoenix Admin</a></li>
            <li><a href="/#">Backer</a></li>
            <li class="active">New</li>
        </ol>
    </div>
</div>

<%= render "form.html", Map.put(assigns, :action, backer_path(@conn, :create)) %>

<span><%= link "Back", to: backer_path(@conn, :index) %></span>
